<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<!--	<context:property-placeholder
		location="classpath:jdbc.properties"/>  -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	  <property name="locations" value="classpath:jdbc.properties"/>
	  <property name="systemPropertiesMode" value="0"/>
	</bean>
	<!-- 数据源配置, 使用应用中的DBCP数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.databaseurl}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!--initialSize: 初始化连接--> 
		<property name="initialSize" value="${dbcp.initialSize}"/> 
		<!--maxIdle: 最大空闲连接--> 
		<property name="maxIdle" value="${dbcp.maxIdle}"/> 
		<!--minIdle: 最小空闲连接--> 
		<property name="minIdle" value="${dbcp.minIdle}"/> 
		<!--maxActive: 最大连接数量--> 
		<property name="maxActive" value="${dbcp.maxActive}"/> 
		<!--removeAbandoned: 是否自动回收超时连接--> 
		<property name="removeAbandoned" value="${dbcp.removeAbandoned}"/> 
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位)--> 
		<property name="removeAbandonedTimeout" value="${dbcp.removeAbandonedTimeout}"/> 
		<!--maxWait: 超时等待时间以毫秒为单位 6000毫秒/1000等于6秒--> 
		<property name="maxWait" value="${dbcp.maxWait}"/>  
		<property name="testOnBorrow" value="true"/> 
		<property name="testWhileIdle" value="true"/> 
		<property name="testOnReturn" value="true"/> 
		<property name="validationQuery" value="select 1 from dual"/>
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource">  
            <ref local="dataSource" />  
        </property>  
    </bean>  
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    <property name="dataSource" ref="dataSource" />
    <property name="activityFontName" value="宋体"></property>
    <property name="transactionManager" ref="transactionManager" />
    <property name="databaseSchemaUpdate" value="true" />
    <property name="jobExecutorActivate" value="false" />
    <property name="databaseType" value="oracle"/>
    <property name="history" value="full" />
  </bean>
  
  <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
  </bean>
  
  <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
  <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
  <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
  <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
  <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
  <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />  
  <bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
</beans>