<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[INNO-ALM] %d{ yyyy MM dd HH:mm:ss,SSS} [%-5p %c %L] - %m%n %l%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.RollingFileAppender" name="file">
		<param name="File" value="inno-alm.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="=%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
		</layout>
	</appender>

	<category name="com.evada.web" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="console" />
	</category>

	<category name="org.springframework" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>
	
	<category name="org.mybatis" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>

	<category name="org.hibernate" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>

	<category name="org.springframework.web" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>

	<category name="java.sql" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</category>



	<root>
		<priority value="ERROR" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>

